---
id: 7_consensus_verification
title: Consensus Verification
---

The consensus is based on the straightforward logic of verifying blocks, transactions, and global storage transitions. Global storage transition implies that the Merkle roots for the global Merkle tree of notes and nullifiers are correct after the transactions of that block were applied.
