


@font-face {
    font-family: 'Grenette Pro';
    src: url('GrenettePro-Black.eot');
    src: url('GrenettePro-Black.eot?#iefix') format('embedded-opentype'),
        url('GrenettePro-Black.woff2') format('woff2'),
        url('GrenettePro-Black.woff') format('woff'),
        url('GrenettePro-Black.ttf') format('truetype'),
        url('GrenettePro-Black.svg#GrenettePro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

