.benefits {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}
.benefitImage {
  height: 290px;
  width: 290px;
}

.listJobs {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}
.listJobs p {
  font-weight: bold;
}
.listJobs a {
  color:var(--ifm-navbar-link-color);
  text-decoration: underline;
}

@media screen and (max-width: 966px) {
  .listJobs {
    flex-direction: column;
  }
}