:root {
  --ifm-employee-width: 32%;
  --ifm-employee-bottom: var(--ifm-medium-vertical-padding);
  --ifm-benefits-title: 444px;
  --ifm-intro-align-items: center;
  --ifm-intro-text-align: left;
  --ifm-intro-text-width: 582px;
  --ifm-intro-column-direction: row;
  --ifm-intro-img-max-width: 590px;
}
.sectionCareers {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1574px;
  margin: 0 auto;
  justify-content: center;
  align-items: var(--ifm-intro-align-items);
  padding-left: var(--ifm-large-container-horizontal-padding);
  padding-right: var(--ifm-large-container-horizontal-padding);
}
.careersSubtitle {
  text-align: left;
}
.sectionCareers img {
  max-width: var(--ifm-intro-img-max-width);
}
.sectionCareersEmployees {
  margin-top: var(--ifm-large-vertical-padding);
}
.sectionCareers .button {
  margin-top: 12px;
}
.sectionRow {
  display: flex;
  flex-direction: var(--ifm-intro-column-direction);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1236px;
}
.intro {
  width: var(--ifm-intro-text-width);
  text-align: var(--ifm-intro-text-align);
}
.employees {
  width: 100%;
  max-width: 1114px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 34px;
}
.employees > div {
  width: var(--ifm-employee-width);
  margin-bottom: var(--ifm-employee-bottom);
  text-align: center;
}
.employees > div > p,
.employees > div > img {
  margin-bottom: 16px;
}
.employees .firstName {
  font-family: var(--ifm-font-header-button);
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 0px;
  text-decoration: none;
  color: var(--ifm-heading-color);
  white-space: break-spaces;
}
.employees .tagline {
  font-family: var(--ifm-font-header-button);
  max-width: 352px;
  margin: 0 auto;
  line-height: 25px;
  font-size: 16px;
}
.blueSection {
  background: #1d0070;
  color: white;
  padding-top: var(--ifm-large-vertical-padding);
  padding-bottom: 60px;
  margin-top: var(--ifm-medium-vertical-padding);
  font-family: var(--ifm-font-header-button);
}
.blueSection > div {
  width: 100%;
  padding-left: var(--ifm-large-container-horizontal-padding);
  padding-right: var(--ifm-large-container-horizontal-padding);
  max-width: 1574px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 820px;
}
.benefits > div {
  width: 380px;
  margin-bottom: 68px;
}
.benefits > div p:first-child {
  font-size: 32px;
  line-height: 38px;
}
.benefits > div p:last-child {
  font-size: 22px;
  line-height: 28px;
}
.benefitsTitle {
  width: var(--ifm-benefits-title);
}
.benefitsTitle p {
  font-size: 56px;
  line-height: 67px;
}
.fish1 {
  margin-left: 60px;
  margin-top: 30px;
}
.fish2 {
  margin-top: 100px;
  margin-left: 300px;
}
.fish3 {
  margin-left: 260px;
  margin-top: 120px;
}
.fish4 {
  margin-top: 190px;
  margin-left: 80px;
}
.button {
  margin-top: 30px;
}
@media screen and (max-width: 1440px) {
  .blueSection > div {
    position: relative;
    flex-direction: column;
  }
  .blueSection > div:first-child {
    margin-bottom: 68px;
  }
  .fish1 {
    position: absolute;
    right: var(--ifm-large-container-horizontal-padding);
    top: 0px;
  }
  .fish3 {
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
  .fish2,
  .fish4 {
    display: none;
  }
  .benefitsTitle {
    margin-bottom: var(--ifm-medium-vertical-padding);
  }
}
@media screen and (max-width: 1240px) {
  .benefits > div {
    width: 340px;
  }
}
@media screen and (max-width: 1050px) {
  :root {
    --ifm-employee-width: 45%;
    --ifm-intro-text-width: 100%;
    --ifm-intro-text-align: center;
    --ifm-intro-column-direction: column;
  }
  .intro {
    width: 100%;
    margin-bottom: 60px;
  }
  .careersMainSection {
    flex-direction: column;
  }
  .employees {
    width: 100%;
  }
  .blueSection {
    margin-top: 108px;
  }
  .benefits > div {
    width: 300px;
  }
  .blueSection > div {
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --ifm-intro-align-items: baseline;
  }
  .careersMainSection {
    width: 100%;
  }
  .fish1 {
    position: absolute;
    top: -120px;
    right: 20px;
  }
  .benefits > div {
    margin-bottom: 40px;
    width: 100%;
  }
  .blueSection {
    margin-top: 40px;
  }
  .fish2 {
    display: block;
    position: absolute;
    right: 30px;
    margin-top: 0;
  }
  .fish4 {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 10px;
  }
  .fish1,
  .fish3 {
    display: none;
  }
  .benefitsTitle {
    margin-bottom: 40px;
  }
  .benefitsTitle p {
    font-size: 42px;
    line-height: 50px;
  }
  .blueSection > div:first-child {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --ifm-benefits-title: 100%;
    --ifm-employee-width: 100%;
    --ifm-intro-text-align: left;
    --ifm-font-line-height-subtitle: 46px;
    --ifm-intro-img-max-width: 100%;
  }
  .sectionCareersEmployees {
    text-align: center;
  }
}
