.questionSection {
  display: flex;
  justify-content: center;
}
.faqMain {
  margin-bottom: var(--ifm-large-vertical-padding);
}
.questionSection .container {
  width: var(--ifm-text-container-width);
  border-top: 1px solid #d2d2d2;
  padding-top: var(--ifm-small-vertical-padding);
  margin-top: var(--ifm-small-vertical-padding);
}
.questionSection .container p {
  margin-bottom: 0;
}
.mainTitle {
  color: var(--ifm-heading-color);
}
.questionImage {
  display: flex;
  width: 146px;
  padding-top: var(--ifm-small-vertical-padding);
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1090px) {
  .questionImage {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .mainTitle {
    text-align: left;
    padding-left: 35px;
    padding-right: 35px;
  }
  .questionSection .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 35px;
    margin-right: 35px;
  }
}
