/* stylelint-disable docusaurus/copyright-header */

/* TODO: this file is an absolute mess. Styling should be done with a mobile-first mindset. I started to write a tool for this conversion this but it's not working yet, so jump down to the NEW SECTION for sane min-width based styles. Initially they were in a separate file but that was causing rendering issues on prod vs. local.*/

:root {
  --ifm-newsletter-flex-direction: row;
  --ifm-newsletter-flex-height: 364px;
  --ifm-newsletter-title-vertical-margin: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: auto;
  padding-top: var(--ifm-large-vertical-padding);
  padding-bottom: var(--ifm-large-vertical-padding);
}
.section .button {
  margin-top: 0px;
}
.sectionContainer {
  padding-left: var(--ifm-large-container-horizontal-padding);
  padding-right: var(--ifm-large-container-horizontal-padding);
  max-width: calc(
    var(--ifm-container-index-width) +
      var(--ifm-large-container-horizontal-padding) +
      var(--ifm-large-container-horizontal-padding)
  );
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: visible;
  justify-content: space-between;
}
.sectionTitle {
  font-size: 46px;
  line-height: 55px;
  margin-bottom: 30px;
  white-space: break-spaces;
}
.sectionDescription {
  margin-bottom: 40px;
}
.sectionContent {
  max-width: 439px;
  white-space: break-spaces;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sectionImg {
  width: 100%;
  height: 544px;
  display: block;
  background-repeat: no-repeat;
  align-self: center;
}
.sectionHomePage {
  height: 100vh;
  min-height: 770px;
  text-align: center;
  background: #1d0070 url(/img/index/ironloop.svg) no-repeat center center;
  background-size: 90% auto;
}
.sectionHomePage .sectionContainer {
  justify-content: center;
}
.sectionPrivacy {
  background-color: #fff;
}
.sectionPrivacyImg {
  background-image: url(/img/index/fish.gif);
  background-size: contain;
}
.sectionPrivacyLayer {
  background-color: #ffcd85;
}
.sectionPrivacyLayerImg {
  background-size: contain;
  background-image: url(/img/index/universe.gif);
}
.sectionCryptocurrency {
  background-color: #fff;
}
.sectionCryptocurrencyImg {
  background-size: contain;
  background-image: url(/img/index/node.gif);
}

.sectionBorderless {
  max-height: 894px;
  background: #ffc2eb url(/img/index/globe.svg) no-repeat;
  background-position: calc(100vw - 47vw) center;
}
.sectionRegulatory {
  background: #fff4e0;
}
.sectionRegulatoryImg {
  background-image: url(/img/index/encrypted.gif);
  background-size: contain;
}
.sectionNewsletter {
  background-color: var(--ifm-contrast-background-color);
  height: var(--ifm-newsletter-flex-height);
  min-height: 364px;
}
.sectionNewsletter > div {
  display: flex;
  flex-direction: var(--ifm-newsletter-flex-direction);
  justify-content: space-between;
  align-items: center;
}
.sectionNewsletter input {
  width: 410px;
  margin-right: 16px;
  font-size: 18px;
  color: #6b6f76;
}
.sectionNewsletter .newsletterTitle {
  font-family: var(--ifm-font-header-button);
  font-size: 46px;
  font-weight: 400;
  line-height: 55px;
  color: #fff;
  max-width: 406px;
  margin: 0 0 var(--ifm-newsletter-title-vertical-margin) 0;
}
.h1Title {
  font-size: var(--ifm-main-title-font-size);
  line-height: var(--ifm-main-title-line-height);
  margin-bottom: 20px;
  text-align: center;
  color: var(--ifm-color-primary-contrast);
}
@media screen and (max-width: 1200px) {
  :root {
    --ifm-newsletter-flex-direction: column;
    --ifm-newsletter-flex-height: auto;
    --ifm-newsletter-title-vertical-margin: 40px;
  }
  .sectionPrivacyImg {
    background-size: contain;
  }
  .sectionRegulatoryImg {
    background-size: contain;
  }

  .sectionCryptocurrencyImg {
    background-size: contain;
  }
}
@media screen and (max-width: 1045px) {
  .sectionContainer {
    flex-direction: column;
    align-items: center;
  }
  .sectionHomePage > div {
    max-width: 690px;
    padding: 0;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--ifm-large-vertical-padding);
    padding-bottom: var(--ifm-large-vertical-padding);
    justify-content: center;
    height: auto;
    min-height: auto;
  }
  .sectionContent {
    max-width: 524px;
    text-align: center;
  }
  .sectionImg {
    margin: 0 auto;
    margin-top: 65px;
    display: block;
    background-size: contain;
  }
  .sectionHomePage {
    height: 700px;
  }
  .sectionPrivacyImg {
    height: 480px;
  }
  .sectionCryptocurrencyImg {
    width: 392px;
  }

  .sectionBorderless {
    background-position: center 630px;
    background-size: 500px;
    max-height: inherit;
  }
  .sectionBorderless .sectionContent {
    padding-bottom: 70px;
  }
  .sectionBorderless .sectionBorderlessImg {
    height: 60px;
  }
  .sectionNewsletter > div {
    text-align: center;
    flex-direction: column;
  }
  .sectionNewsletter input {
    width: 290px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 700px) {
  .sectionHomePage {
    background: #1d0070 url(/img/index/splash-small-top.svg) no-repeat top
      center;
    padding-bottom: 0;
    padding-top: 0;
  }
  .sectionHomePage .sectionContainer {
    height: 100%;
    background: transparent url(/img/index/splash-small-bottom.svg) no-repeat
      bottom center;
    display: flex;
    justify-content: center;
  }
  .sectionContent {
    text-align: left;
  }
  .sectionImg {
    width: 100%;
    background-position: center;
  }

  .sectionBorderless {
    background: none;
  }
  .sectionBorderless .sectionImg {
    background: #fff url(/img/index/globe.svg) no-repeat;
    background-position: center;
    background-size: 330px 320px;
    margin-top: 0px;
    height: 320px;
  }
  .sectionDescription {
    font-size: 18px;
    line-height: 28px;
  }
  .sectionNewsletter .newsletterTitle,
  .sectionTitle {
    font-size: 38px;
    line-height: 46px;
  }
  .sectionNewsletter > div {
    text-align: center;
    flex-direction: column;
  }
  .sectionNewsletter input {
    text-align: center;
    width: 100%;
    margin-top: var(--ifm-small-vertical-padding);
  }
  .sectionNewsletter button {
    width: 100%;
    margin-top: 16px;
  }
}
@media screen and (max-width: 450px) {
  .sectionNewsletter {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .sectionNewsletter .newsletterTitle {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 400px) {
  .sectionBorderless .sectionContent {
    padding-bottom: 0px;
  }
  .sectionBorderless .sectionImg {
    background-size: 300px 290px;
    height: 290px;
    margin-top: 65px;
  }
}

/* NEW SECTION WHICH IS MIN-WIDTH BASED */

.implicitBreak {
  display: inline-block;
  margin-right: 0.25rem;
}
.sectionExperts {
  background-color: #fff;
}
.section.sectionExperts {
  padding-bottom: 0;
}
.sectionExpertsImg {
  background-image: url(/img/index/new-half.gif);
  background-position: center;
  background-size: contain;
}
.sectionExperts .sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sectionExperts .sectionImg {
  margin: 0 auto;
  max-height: 177px;
  width: 100%;
}

.sectionExperts .sectionContent {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.sectionExperts .sectionContent .sectionTitle,
.sectionExperts .sectionContent .sectionDescription {
  width: 100%;
  max-width: 800px;
}
.investors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 8.25rem;
  margin: 0 auto 4rem;
  justify-content: space-between;
}
.twitterName {
  font-size: 24px;
}
.investorLink {
  width: calc(33.3333% - 1.5rem);
  height: 40px;
  min-width: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: extended-regular;
}

.investorLink:hover {
  text-decoration: none;
  color: var(--ifm-link-hover-color);
}

.investorLink:hover .investorImage {
  filter: invert(0.5) sepia(1) saturate(5) brightness(1) hue-rotate(-60deg);
}
.investorTwitter {
  max-width: 24px;
  max-height: 24px;
  margin-right: 0.25rem;
}
.investorImage {
  max-width: 150px;
  max-height: 64px;
}

.investor {
  text-decoration: none;
}

.investor img {
  width: 100%;
  height: auto;
}
.companies {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
}
.companyLink {
  margin: 1rem;
  display: flex;
  width: 100%;
  max-height: 40px;
  max-width: 14rem;
}
.companyImage {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 700px) {
  .investorLink {
    width: calc(33.3333% - 2rem);
  }
  .sectionExperts .sectionImg {
    max-height: 276px;
  }
  .investors {
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
  }
  .twitterName {
    font-size: 18px;
  }
  .companies {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .companyLink {
    width: calc(33.3333333% - 1rem);
    margin: 0.5rem;
  }
}
