/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.section {
  background: transparent url(/img/wave.svg) center bottom;
  background-repeat: repeat-x;
  padding: 20px 0 40px 0;
}
.heroTitle {
  font-size: 2.5rem;
  max-width: 650px;
}
.section h2 {
  font-size: 2rem;
}
.section p {
  max-width: 420px;
}

.headerLinks {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}
.headerLinks img {
  width: 30px;
  margin-left: 10px;
}
.indexHeader {
  display: flex;
  /* reverse for SEO purpose so H1 is first*/
  flex-direction: column-reverse;
}

.mainIndexContainer {
  color: var(--ifm-index-color-primary);
}


.indexSection {
  display: flex;
  /* first section has the navbar */
  height: 100vh;
  height: calc(100vh - 60px);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  align-items: center;
  justify-content: center;
}


.buttonWhitePaper {
  text-transform: uppercase;
  color: var(--ifm-navbar-link-color);
}
.buttonWhitePaper:first-of-type {
  margin-right: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}
.features:last-of-type {
  border-top: 1px solid var(--ifm-features-separator-color);
}

.featureImage {
  height: 200px;
  width: 200px;
}

.companiesList {
  justify-content: center;
  flex-wrap: wrap;
}
.investorImage {
  margin-right: 30px;
  margin-bottom: 15px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 1rem;
  }
  .heroTitle {
    font-size: 2rem;
  }
  .buttons {
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
  }
  .buttonWhitePaper:first-of-type {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
