.breakpoint {
  position: fixed;
  left: 0;
  top: 0;
  border-left: 1px dashed lime;
  height: 100%;
  z-index: 999;
  min-height: 100vh;
  cursor: crosshair;
  opacity: 0.5;
}
.relativeBreakpoint {
  border-left: 1px dashed red;
}
.breakpoint::before {
  color: rgba(0, 255, 0, 0.1);
  text-shadow: -1px 0 0 rgba(255, 255, 255, 0);
  font-size: 0.75rem;
  display: block;
  margin-top: 2rem;
  content: attr(data-left);
  transform: rotate(-90deg);
}
.breakpoint:hover {
  opacity: 1;
}
.breakpoint:hover::before {
  color: black;
  text-shadow: -1px 0 0 rgba(255, 255, 255, 0.6);
}
.relativeBreakpoint::before {
  color: rgba(255, 0, 0, 0.1);
}
.ruler {
}
.toolkit {
  font-family: monospace;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  min-width: 3rem;
  z-index: 1111;
  opacity: 0.6;
  cursor: crosshair;
}
.toolkit:hover {
  opacity: 1;
}
.main {
  display: flex;
  flex-direction: column;
}
.phase.phase1 {
  padding-top: 128px;
}
.roadmap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
}
.halfbox {
  display: flex;
  flex-direction: column;
  position: relative;
}
.halfboxTwo {
  margin-bottom: 67px;
}
.boxFiller {
  position: absolute;
  background-color: #ffcd85;
  width: 100%;
  height: 100%;
  min-height: 330px;
  margin-top: 67px;
}
.halfboxTwo img {
  width: calc(100% - 64px);
  max-width: 462px;
  margin: 0 auto;
  z-index: 10;
}
.cta {
  margin: 24px;
  font-family: "extended-regular";
  font-size: 46px;
  line-height: 56px;
}
.breakAfterSm {
  display: none;
}
.mainnet,
.phase.phase3 .phaseWrapper {
  max-width: 600px;
  margin: 0 auto;
}
.ctaButton {
  display: block;
  border: 0;
  border-radius: 90px;
  background-color: black;
  color: white;
  width: 286px;
  height: 64px;
  padding: 20px 30px;
  font-family: "extended-regular";
  font-size: 20px;
  line-height: 24.2px;
  margin: 24px;
  margin-bottom: 64px;
  font-weight: 400;
}
.mainIntro {
  margin: 32px;
  margin-bottom: 42px;
  max-width: 525px;
}
.phaseTitle {
  font-family: "extended-regular";
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 64px;
}
.details {
  display: flex;
  flex-direction: column;
}

.detail {
  display: block;
  padding: 12px 0 24px;
  width: 100%;
}
.detailIcon {
  margin-bottom: 23px;
}
.detailTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "extended-regular";
  font-size: 22px;
  line-height: 26.4px;
}
.detailDescription {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.phase {
  padding: 64px 32px 0;
  display: flex;
  flex-direction: column;
}

.launchdate {
  font-family: "extended-regular";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 20px;
  display: block;
}
.interlude {
  width: 100%;
  margin: 128px auto 100px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: no-wrap;
}

.interlude img {
  width: calc(100% - 64px);
  max-width: 462px;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
}
.interludeHexfish {
  display: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  background-color: #ffcd85;
  height: 434px;
  margin: 0 auto;
  margin-bottom: -100px;
  margin-top: 100px;
  transition: margin 0.3s ease-out, width 0.3s ease-out;
}
.leaderboard {
  margin-top: 64px;
  display: flex;
}
.wallet,
.walletAlt {
  margin-top: 200px;
  display: flex;
}
.walletAlt {
  display: none;
  margin-bottom: 200px;
}
.wallet {
  margin-bottom: 200px;
}
.leaderboard {
  min-height: 409px;
}
.leaderboard img,
.wallet img,
.walletAlt img,
.bridges img {
  transition: margin 0.3s ease-out, width 0.3s ease-out;
}
.interlude.bridges {
  min-height: 410px;
  margin: 0;
}
.interlude.bridges img {
  right: 0;
  bottom: 0;
  /* margin-bottom: -120px; */
  position: absolute;
}
.walletAlt img,
.wallet img {
  top: -180px;
  position: absolute;
}
.interlude.leaderboard img {
  position: absolute;
  top: 24px;
  width: calc(100% - 64px);
}
.interludeBall,
.interludeBall2,
.interludeBall3 {
  position: absolute;
  left: 90vw;
  top: -170%;
  z-index: 2;
  width: 855px;
  height: 855px;
  border-radius: 100rem;
  background-color: #ffb549;
  transition: left 5s ease-out, top 5s ease-out;
}
.interludeBall2 {
  background-color: #0055ff;
  top: -160%;
  left: -60%;
}
.interludeBall3 {
  background-color: #ffa4dd;
  top: -110%;
  left: -150%;
}
.interludeTestnetLeaderboard,
.interludeWallet,
.interludeBridges {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  background-color: #ffcd85;
  width: 100%;
  height: 348px;
  margin-top: 28px;
  transition: margin 0.3s ease-out, width 0.3s ease-out;
  overflow: hidden;
}
.interludeWallet {
  background-color: #2c72ff;
}
.interludeBridges {
  background-color: #ffc2e8;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 50%;
  max-height: 275px;
}
.phaseDescription {
  width: 100%;
  margin: 32px auto;
}
.assetsWrapper {
  perspective: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.assets {
  width: 100%;
  margin: 0 auto;
  max-width: 440px;
}
.asset {
  border-radius: 16px;
  width: calc(20% - 70px);
  min-width: 70px;
  min-height: 70px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 9%;
  position: relative;
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.asset svg {
  margin: 0 auto;
}
.uniswap {
  background-color: #ffe8f3;
}
.binance {
  background-color: #fff1ce;
}
.ethereum {
  background-color: #dbe0f3;
}
.bitcoin {
  background-color: #f7931a;
}
.hexfish {
  background-color: #2c72ff;
}
.assetFace {
  /* transform: rotateY(180deg); */
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8px;
  backface-visibility: hidden;
  transition: background 0.3s ease-out, top 0.3s ease-out;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
.front {
  top: 0;
}
.back {
  top: -100%;
}
.flipped .assetFace.front {
  top: 100%;
}
.flipped .assetFace.back {
  top: 0;
}
.hidden {
  display: none;
}
.fishweb {
  width: calc(100% - 64px);
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 450px) {
  .boxFiller {
    min-height: 400px;
  }
}
@media screen and (min-width: 540px) {
  .launchdate,
  .phaseTitle,
  .cta {
    text-align: center;
  }
  .ctaButton {
    margin: 24px auto 64px;
  }
  .interlude.leaderboard img {
    top: 20px;
  }
  .breakAfterSm {
    display: block;
  }
  .interludeBall2 {
    left: -20%;
  }
  .interlude.wallet img {
    margin-top: -3px;
  }
}
@media screen and (min-width: 630px) {
  .cta {
    text-align: center;
    margin: 24px auto 24px;
  }
  .mainIntro {
    text-align: center;
    margin: 32px auto 42px;
  }

  .interludeHexfish {
    margin-bottom: -75px;
    margin-top: 75px;
  }
  .details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .details {
    justify-content: space-between;
    max-width: 750px;
  }
  .detail {
    width: calc(50% - 35px);
    margin: 0;
  }
  .detail:nth-of-type(odd) {
    margin-right: 35px;
  }
  .detail:nth-of-type(even) {
    margin-left: 35px;
  }
  .details.total2 .detail {
    margin: 0 16px;
    width: calc(50% - 32px);
  }
  .details.total2 .detail:nth-of-type(odd) {
    margin-right: 32px;
    margin-left: 0;
  }
  .details.total2 .detail:nth-of-type(even) {
    margin-left: 32px;
    margin-right: 0;
  }
  .interludeTestnetLeaderboard {
    height: 512px;
    width: 100%;
  }
  .interludeBall3 {
    left: -70%;
  }
  .leaderboard {
    margin-top: 100px;
    /* margin-bottom: 200px; */
  }
  .leaderboard img {
    margin-top: -82px;
  }
  .interludeBall {
    left: 50%;
    top: -50%;
  }

  .bridges img {
  }
}

@media screen and (min-width: 990px) {
  .details.total3 .detail {
    width: calc(33.333333% - 64px);
    margin: 0 32px;
  }
  .details.total3 .detail:nth-of-type(1) {
    margin-left: 0;
  }
  .details.total3 .detail:nth-of-type(3) {
    margin-right: 0;
  }

  /*
  .detail:nth-of-type(odd) {
    margin-right: 2rem;
  }
  .detail:nth-of-type(even) {
    margin-left: 2rem;
  }
  */
  .interludeBall3 {
    left: -60%;
  }
}

@media screen and (min-width: 1080px) {
  .details {
    max-width: 100%;
  }
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .interlude.interlude0,
  .interlude.leaderboard,
  .phase.phase2,
  .phase.phase1,
  .phase.phase4,
  .interlude.wallet,
  .interlude.bridges,
  .interlude.walletAlt {
    width: 50%;
  }
  .phase.phase1 {
    padding-top: 64px;
  }
  .phase.phase1,
  .phase.phase2,
  .phase.phase4,
  .interlude.walletAlt,
  .interlude.leaderboard,
  .interlude.bridges,
  .interludeTestnetLeaderboard,
  .interludeWallet {
    height: 720px;
    margin: 0;
  }
  .interlude.walletAlt {
    text-align: right;
    position: relative;
  }
  .interlude.walletAlt img {
    position: absolute;
    top: calc(50% - 170px);
    right: 64px;
  }
  .interlude.leaderboard img {
    position: relative;
    margin-top: 64px;
    margin-left: 64px;
  }
  .interlude.wallet {
    display: none;
  }
  .phase.phase3 {
    width: 100%;
  }
  .interlude.walletAlt {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .interludeBridges {
    min-height: 450px;
  }
  .phase.phase0 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 96px;
  }
  .phase4 {
    padding: 0;
    margin-top: 100px;
  }
  .phase0 .phaseTitle,
  .phase0 .launchdate {
    text-align: left;
  }
  .phase0 .details .detail {
    margin-bottom: 0;
  }
  .phase0 .details .detail:nth-of-type(1) {
    margin-left: 0;
  }
  .phase0 .details .detail:nth-of-type(3) {
    margin-right: 0;
  }
  .phase1,
  .phase4 {
    position: relative;
  }
  .phase1 .phaseTitle,
  .phase4 .phaseTitle {
    text-align: left;
    position: absolute;
    left: 32px;
  }
  .phase4 .phaseTitle {
    top: 64px;
  }
  .phase1 .details,
  .phase4 .details {
    position: absolute;
    left: 32px;
    top: 198px;
    flex-direction: column;
    max-width: 317px;
  }
  .phase2 .details {
    max-width: 317px;
    margin: 0;
  }
  .phase1 .details .detail,
  .phase1 .details .detail:nth-of-type(even),
  .phase1 .details .detail:nth-of-type(odd),
  .phase2 .details .detail,
  .phase2 .details .detail:nth-of-type(even),
  .phase2 .details .detail:nth-of-type(odd),
  .phase4 .details .detail,
  .phase4 .details .detail:nth-of-type(even),
  .phase4 .details .detail:nth-of-type(odd) {
    width: 100%;
    margin: 0;
  }
  .phase1,
  .phase2 {
    padding-top: 50px;
    padding-left: 64px;
  }
  .phase2 .phaseTitle {
    text-align: left;
    margin-bottom: 48px;
  }
  .phase2 .details .detail,
  .phase2 .details .detail:nth-of-type(even),
  .phase2 .details .detail:nth-of-type(odd) {
    padding: 0;
    margin-bottom: 48px;
  }

  .interludeHexfish {
    height: 100%;
    min-height: 800px;
    width: 70%;
    margin: 0;
    right: 0;
    top: 0;
    padding: 0;
    position: relative;
    align-self: flex-end;
  }
  .interlude.interlude0 {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
  }
  .interludeBridges {
    height: 100%;
    max-height: 100%;
  }
  .interlude.interlude0 img {
    left: 0;
  }
  .interludeBall2 {
    top: -80%;
    left: -40%;
  }
  .main,
  .detail,
  .mainIntro,
  .cta {
    text-align: left;
  }
  .cta {
    margin-top: 64px;
  }
  .ctaButton {
    margin: 0;
  }
  .halfboxOne {
    position: relative;
  }
  .halfboxOneWrapper {
    right: 106px;
    width: 440px;
    position: absolute;
    padding-left: 32px;
  }
  .roadmap {
    flex-direction: row;
    height: 600px;
  }
  .halfbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    overflow: hidden;
  }
  .halfboxTwo {
    position: relative;
    margin-bottom: 0;
  }
  .halfboxTwo img {
    position: absolute;
    left: 0;
    top: 64px;
  }
  .boxFiller {
    left: 32px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1144px) {
  .halfboxOneWrapper {
    padding-left: 0;
  }
  .phase0 {
    max-width: 1220px;
    padding: 64px;
    padding-bottom: 0;
  }
  .phase1 .phaseTitle,
  .phase4 .phaseTitle {
    left: auto;
    right: 150px;
  }
  .phase1 .details,
  .phase4 .details {
    left: auto;
    right: 225px;
  }
}
