.main {
  max-width: 1800px;
  margin: 0 auto;
}

.wrapper {
  max-width: 818px;
  width: 100%;
  margin: 0 auto;
  margin-top: var(--ifm-medium-vertical-padding);
  margin-bottom: var(--ifm-medium-vertical-padding);
  padding: 0 2rem;
}

.img {
  display: block;
  width: 100%;
  margin: 2rem auto;
}

.divider {
  margin: 4rem 0;
}