.logoLink {
  color: inherit;
  display: flex;
}

.logoLink:hover {
  color: inherit;
  text-decoration: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: flex;
}

.button {
  background: inherit;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;
}

.closeButton {
  display: flex;
  padding: 0;
}

.menuButton {
  padding: 0;
  line-height: 0;
}

@media screen(sm) {
  .regularSubNavButton {
    @apply text-base
  }
}

@media screen(lg) {
  .regularSubNavButton {
    @apply text-xl
  }
}

.condensedSubNavButton {
  padding-top: 0;
  padding-bottom: 0;
}

.rawButton {
  border-style: solid;
  text-transform: none;
  -webkit-appearance: button;
}

.gridElementH5 {
  font-weight: normal;
  margin-bottom: 0;
}

.gridElementP {
  margin-bottom: 0;
}

.testnetH4 {
  font-weight: normal;
}
