:root {
  --ifm-background-height: 539px;
  --ifm-position-title-font-size: 24px;
}
.section {
  position: relative;
  border-top: 1px solid #e1e1e1;
  padding-top: var(--ifm-large-vertical-padding);
  padding-bottom: 56px;
}
.container {
  width: 100%;
  max-width: 1406px;
  margin: 0 auto;
}
.background {
  background: #ffcd85;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: var(--ifm-background-height);
}
.title {
  font-size: 46px;
  line-height: 55px;
  font-family: var(--ifm-font-header-button);
}
.description {
  max-width: 818px;
  width: 57%;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 82px;
}
.position p {
  margin: 0;
}
.position {
  background: white;
  position: relative;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1114px;
  height: 93px;
  border: 1px solid black;
  justify-content: space-between;
  padding: var(--ifm-small-vertical-padding);
  margin-bottom: 40px;
  margin-left: auto;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-right: auto;
}
.position:hover {
  border: 1px solid var(--ifm-link-color);
}
.position .title {
  font-family: var(--ifm-font-header-button);
  font-size: var(--ifm-position-title-font-size);
  color: black;
  text-decoration: none;
  width: 260px;
}
.position .title a {
  color: black;
  text-decoration: none;
}
.position .location,
.position .time {
  font-family: var(--ifm-font-header-button);
  font-size: 18px;
  color: var(--ifm-color-thirty);
  height: 25px;
}
.position .button {
  height: 18px;
}
@media screen and (max-width: 1440px) {
  .about {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1140px) {
  .about {
    flex-direction: column;
    max-width: 800px;
    padding-left: var(--ifm-large-container-horizontal-padding);
    padding-right: var(--ifm-large-container-horizontal-padding);
    margin-left: 0;
    margin-bottom: 200px;
  }
  .description {
    width: 100%;
  }
  .positions {
    width: 100%;
    padding-left: var(--ifm-large-container-horizontal-padding);
    padding-right: var(--ifm-large-container-horizontal-padding);
  }
}
@media screen and (max-width: 740px) {
  .about {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 41px;
  }
  .positions {
    padding-left: 35px;
    padding-right: 35px;
  }
  .position {
    flex-wrap: wrap;
    height: 132px;
    padding-top: 18px;
  }

  .title {
    width: 100%;
  }
}
@media screen and (min-width: 520px) {
  .position:first-of-type {
    margin-top: 30px;
  }
  .positions {
    margin-bottom: -60px;
  }
  .background {
    margin-bottom: -60px;
  }
}

@media screen and (max-width: 705px) {
  .section {
    padding-top: 40px;
    padding-bottom: 1px;
  }
  .position img {
    display: none;
  }
}
@media screen and (min-width: 710px) {
  .background {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 800px) {
  .background {
    margin-bottom: -60px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --ifm-background-height: 450px;
    --ifm-position-title-font-size: 22px;
  }
}
@media screen and (max-width: 375px) {
  :root {
    --ifm-background-height: 625px;
  }
}
@media screen and (max-width: 360px) {
  .position .location,
  .position .time {
    display: none;
  }
}
