:root {
  --ifm-background-height: 539px;
  --ifm-position-title-font-size: 24px;
}
.section {
  position: relative;
  border-top: 1px solid #e1e1e1;
  background: #ffcd85;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1406px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 46px;
  font-family: var(--ifm-font-header-button);
}
.description {
  display: block;
  max-width: 638px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 2rem 35px;
}
.aboutWrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1114px;
}
.loading {
  font-size: var(--ifm-position-title-font-size);
  margin: 18px 0px;
  text-align: center;
}
.positionContainer {
  display: block;
  overflow: hidden;
  max-width: 1114px;
  margin: 0 auto;
}
.positionLink {
  text-decoration: none;
}
.positionLink:hover {
  text-decoration: none;
}
.position p {
  margin: 0;
}
.position {
  background: white;
  position: relative;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1114px;
  height: 93px;
  border: 1px solid black;
  justify-content: space-between;
  padding: var(--ifm-small-vertical-padding);
  margin-bottom: 40px;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.position:hover {
  border: 1px solid var(--ifm-link-color);
}
.position .title {
  font-family: var(--ifm-font-header-button);
  font-size: var(--ifm-position-title-font-size);
  color: black;
  text-decoration: none;
  width: 270px;
}
.position .title a {
  color: black;
  text-decoration: none;
}
.position .location,
.position .time {
  font-family: var(--ifm-font-header-button);
  font-size: 18px;
  color: var(--ifm-color-thirty);
}
@media screen and (min-width: 1141px) {
  .positions {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1140px) {
  .positions {
    width: 100%;
    padding-top: 50px;
    padding-left: var(--ifm-large-container-horizontal-padding);
    padding-right: var(--ifm-large-container-horizontal-padding);
    padding-bottom: 35px;
  }
  .about {
    padding-left: var(--ifm-large-container-horizontal-padding);
    padding-right: var(--ifm-large-container-horizontal-padding);
    padding-top: 128px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 740px) {
  .positions {
    padding-left: 35px;
    padding-right: 35px;
  }
  .position {
    flex-wrap: wrap;
    height: 132px;
  }
  .about {
    padding: 2rem 35px;
  }
}

@media screen and (max-width: 705px) {
  .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .position .title {
    width: 100%;
  }
  .position img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --ifm-background-height: 450px;
    --ifm-position-title-font-size: 22px;
  }
}
@media screen and (max-width: 375px) {
  :root {
    --ifm-background-height: 625px;
  }
}
@media screen and (max-width: 360px) {
  .position .location,
  .position .time {
    display: none;
  }
}
