:root {
  --ifm-quick-link-width: calc(50% - 10px);
  --ifm-quick-link-margin-right: 20px;
}
.quickLinksContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.quickLinkContainer {
  height: 136px;
  width: var(--ifm-quick-link-width);
  display: flex;
  align-items: center;
  padding-left:40px;
  border: 1px solid #dadce0;
  margin-right: var(--ifm-quick-link-margin-right);
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
}
.quickLinkContainer:hover {
  text-decoration: none;
}
.quickLinkContainer div {
  margin-left: 17px;
}
.quickLinkContainer h2 {
  margin: 0;
}

@media screen and (min-width: 900px) {
  .quickLinkContainer:nth-child(2n) {
    margin-right: 0;
  }
  .quickLinkContainer:nth-child(n + 3) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --ifm-quick-link-width: 100%;
    --ifm-quick-link-margin-right: 0px;
  }
}
