:root {
  --ifm-faucet-button-width: auto;
  --ifm-faucet-container-padding: 65px;
  --ifm-faucet-container-align: left;
  --ifm-faucet-container-height: 253px;
  --ifm-faucet-container-justify-content: center;
}
.testnetAdContainer {
  background-color: #ffc2eb;
  background-image: url(/img/onboarding/testnetAd.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 400px;
  width: 100%;
  height: var(--ifm-faucet-container-height);
  display: flex;
  text-align: var(--ifm-faucet-container-align);
  justify-content: var(--ifm-faucet-container-justify-content);
  flex-direction: column;
  padding: var(--ifm-faucet-container-padding);
  overflow: visible;
}
.testnetAdContainer .button {
  width: var(--ifm-faucet-button-width);
  align-self: flex-start;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  :root {
    --ifm-faucet-background-position: bottom right;
    --ifm-faucet-button-width: 100%;
    --ifm-faucet-container-justify-content: flex-start;
    --ifm-faucet-container-height: 540px;
    --ifm-faucet-container-padding: 80px 20px 20px 20px;
    --ifm-faucet-container-align: center;
  }
}
