/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: 'Grenette Pro';
  src: url('/font/GrenettePro-Regular.eot');
  src: url('/font/GrenettePro-Regular.eot?#iefix') format('embedded-opentype'),
      url('/font/GrenettePro-Regular.woff2') format('woff2'),
      url('/font/GrenettePro-Regular.woff') format('woff'),
      url('/font/GrenettePro-Regular.ttf') format('truetype'),
      url('/font/GrenettePro-Regular.svg#GrenettePro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nitti Grotesk SL';
  src: url('/font/NittiGroteskBM-SuperLight.eot');
  src: url('/font/NittiGroteskBM-SuperLight.eot?#iefix') format('embedded-opentype'),
      url('/font/NittiGroteskBM-SuperLight.woff2') format('woff2'),
      url('/font/NittiGroteskBM-SuperLight.woff') format('woff'),
      url('/font/NittiGroteskBM-SuperLight.ttf') format('truetype'),
      url('/font/NittiGroteskBM-SuperLight.svg#NittiGroteskBM-SuperLight') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --ifm-global-radius: 0.2rem;
  --ifm-background-color: #FFF;
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-size-base: 100%;
  --ifm-font-color-base-inverse: #000;
  --ifm-heading-color: #100060;
  --ifm-font-color-base: #100060;
  --ifm-index-color-primary: #252120;
  --ifm-features-separator-color: #dadada;
  --ifm-spacing-horizontal: 0px;
  --ifm-table-stripe-background: #1e016f0a;
  --ifm-list-left-padding: 1rem;
  --ifm-list-border-color: #FFE7BA;

  --ifm-color-primary: #1D0070;
  --ifm-color-primary-dark: #1D0070;
  --ifm-color-primary-darker: #1D0070;
  --ifm-color-primary-darkest: #1D0070;
  --ifm-color-primary-light: #1D0070;
  --ifm-color-primary-lighter: #1D0070;
  --ifm-color-primary-lightest: #1D0070;
  --ifm-color-secondary: #1D0070;
  --ifm-color-secondary-hover: #1D0070;
  --ifm-color-emphasis-300: transparent;

  --ifm-button-border-color: #EBE5E5;
  --ifm-button-background-color: #fbebcf;
  --ifm-button-background-active-color: #EBE5E5;
  --ifm-button-font-weight: normal;
  --ifm-button-padding-horizontal: 0.7rem;

  --ifm-navbar-background-color: #FFF;
  --ifm-navbar-link-color: #1D0070;
  --ifm-navbar-link-hover-color: #dadada;
  --ifm-navbar-shadow: none;
  --ifm-navbar-height: 90px;
  --ifm-navbar-padding-vertical: 30px;
  --ifm-navbar-link-hover-color: #1D0070;

  --ifm-menu-color-background-active: none;
  --ifm-menu-color-background-hover: none;
  --ifm-menu-color: #100060;
  --ifm-menu-color-active: #1D0070;
  --ifm-menu-link-padding-vertical:0.2rem;

  --ifm-link-color: #2300CE;
  --ifm-link-decoration: underline;

  --ifm-toc-border-color: transparent;
  --ifm-toc-link-color: #100060;

  --ifm-footer-padding-vertical: 0.7rem;
  --ifm-footer-background-color: #FFF;
  --ifm-footer-link-color: #fff;

  --ifm-code-font-size: 1rem;
  --ifm-code-background: #1e016f0a;
}

/* Buttons */
.button--outline {
  border: none;
  font-weight: 500;
  text-transform: capitalize;
  --ifm-button-background-color: #fbebcf;
  --ifm-button-color: var(--ifm-color-primary);
}
.button--outline:hover {
  --ifm-button-background-color: var(--ifm-color-primary);
  --ifm-button-color:  #fbebcf;
}
.menu--responsive .menu__button {
  color: #FFF;
  bottom: 25px;
}

  /* General elements */
h1 {
  color: var(--ifm-color-primary-light);
}
h1, h2, h3 {
  font-family: 'Grenette Pro', sans-serif;
  font-weight: normal;
}
td, th {
  text-align: left;
}
p, li {
  font-family: 'Nitti Grotesk SL', sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.6rem;
}
.math {
  font-size: 1rem;
}
ul, ol {
  border-left: 3px solid var(--ifm-list-border-color);
  list-style: none;
  padding-bottom: 5px;
}
ul ul, ol ol {
  border-left: none;
  padding-bottom: 0px;
}
/* Header */
.navbar__inner {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding-bottom: 70px;
}
.navbar__inner::after {
  background: transparent url(/img/wave.svg) center bottom;
  background-repeat: repeat-x;
  max-width: var(--ifm-container-width);
  background-size: 26px auto;
  content: ' ';
  width: 100%;
  height: 28px;
}
.navbar__logo {
  max-width: 190px;
  margin-left: 1px;
}
.navbar__title {
  display: none;
}
.navbar__link {
  font-size: 1.2rem;
}
.navbar__link:last-of-type {
  padding-right: 0;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* footer */
.footer .container .text--center {
  background: transparent url(/img/wave.svg) center top;
  background-repeat: repeat-x;
  background-size: 26px auto;
  padding-top: 20px;
  text-align: left;
}

/* MDX pages */
.container.margin-vert--lg.padding-vert--lg {
  margin-top: 0px!important;
}

.maxWidthContainer {
  max-width: 760px;
}

/* documentation */
.menu {
  padding: 0!important;
}
.menu__list {
  padding: var(--ifm-menu-link-padding-vertical) 0 var(--ifm-menu-link-padding-vertical) 0;
  border-radius: var(--ifm-button-border-radius);
  background: #1e016f0a;
  margin-top: 35px;
  border: none;
}
.navbar-sidebar__items .menu__list {
  margin-top: 0px;
}
.table-of-contents__link,
.menu__link {
  line-height: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
}
.table-of-contents__link:hover,
.menu__link:hover {
  text-decoration: underline;
}
.table-of-contents__link--active,
.menu__link--active {
  font-weight: bold;
}
.table-of-contents {
  border-left: none;
  padding: var(--ifm-menu-link-padding-vertical) 0 var(--ifm-menu-link-padding-vertical) 0;
  border-radius: var(--ifm-button-border-radius);
  background: #00000014;
  margin-top: 10px;
  margin-left: 0.3rem;
  --ifm-color-primary: var(--ifm-color-primary-dark);
}
.table-of-contents ul {
  border-left: none;
  padding-bottom: 0;
}
.split {
  border-bottom: 2px solid var(--ifm-list-border-color);
  width: 500px;
  display: block;
  margin-bottom: 15px;
}
.info {
  background: var(--ifm-button-background-color);
  padding: 15px 15px 1px 15px;
  border-radius: var(--ifm-global-radius);
}

@media screen and (max-width: 1190px) {
  :root {
    --ifm-container-width: 990px;
  }
}

@media screen and (max-width: 999px) {
  :root {
    --ifm-spacing-horizontal: 0.7rem;
  }
  .navbar__inner::after {
    height: 33px;
  }
}