/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/**
 * Disable base so that it doesn't clobber existing custom styles
 * @tailwind base;
 */
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
@font-face {
  font-family: "extended-regular";
  src: url("/font/extendedregular/favoritextended-regular-webfont.eot");
  src: url("/font/extendedregular/favoritextended-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/font/extendedregular/favoritextended-regular-webfont.woff2")
      format("woff2"),
    url("/font/extendedregular/favoritextended-regular-webfont.woff")
      format("woff"),
    url("/font/extendedregular/favoritextended-regular-webfont.ttf")
      format("truetype"),
    url("/font/extendedregular/favoritextended-regular-webfont.svg#_.book")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mono-regular";
  src: url("/font/monoregular/favoritmono-regular-webfont.eot");
  src: url("/font/monoregular/favoritmono-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/font/monoregular/favoritmono-regular-webfont.woff2") format("woff2"),
    url("/font/monoregular/favoritmono-regular-webfont.woff") format("woff"),
    url("/font/monoregular/favoritmono-regular-webfont.ttf") format("truetype"),
    url("/font/monoregular/favoritmono-regular-webfont.svg#_.book")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "favorit-regular";
  src: url("/font/regular/favorit-regular-webfont.eot");
  src: url("/font/regular/favorit-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/font/regular/favorit-regular-webfont.woff2") format("woff2"),
    url("/font/regular/favorit-regular-webfont.woff") format("woff"),
    url("/font/regular/favorit-regular-webfont.ttf") format("truetype"),
    url("/font/regular/favorit-regular-webfont.svg#_.book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --ifm-container-width: 1406px;
  --ifm-container-index-width: 1171px;
  --ifm-global-radius: 0.2rem;
  --ifm-background-color: #fff;
  --ifm-font-family-base: favorit-regular, "Helvetica", sans-serif;
  --ifm-font-size-base: 100%;
  --ifm-font-color-base-inverse: #000;
  --ifm-heading-color: #000;
  --ifm-font-color-base: #000;
  --ifm-index-color-primary: #252120;
  --ifm-features-separator-color: #dadada;
  --ifm-spacing-horizontal: 0px;
  --ifm-table-stripe-background: #1e016f0a;
  --ifm-list-left-padding: 1rem;
  --ifm-list-border-color: #ffe7ba;

  --ifm-color-primary: #000;
  --ifm-color-thirty: #687086;
  --ifm-color-primary-contrast: #fff;
  --ifm-color-primary-dark: #1d0070;
  --ifm-color-primary-darker: #1d0070;
  --ifm-color-primary-darkest: #1d0070;
  --ifm-color-primary-light: #000;
  --ifm-color-primary-lighter: #1d0070;
  --ifm-color-primary-lightest: #1d0070;
  --ifm-color-secondary: #1d0070;
  --ifm-color-secondary-hover: #1d0070;
  --ifm-color-emphasis-300: transparent;

  --ifm-button-color: #fff;
  --ifm-button-border-color: #000;
  --ifm-button-background-color: #fbebcf;
  --ifm-button-background-active-color: #ebe5e5;
  --ifm-button-font-weight: normal;
  --ifm-button-padding-horizontal: 0.7rem;

  --ifm-contrast-background-color: #1d0070;
  --ifm-navbar-background-color: #1d0070;
  --ifm-navbar-background-contrast-color: #1d0070;
  --ifm-navbar-link-color: #1d0070;
  --ifm-navbar-link-hover-color: #1d0070;
  --ifm-navbar-shadow: none;
  --ifm-navbar-height: 90px;
  --ifm-navbar-padding-vertical: 30px;

  --ifm-menu-color-background-active: none;
  --ifm-menu-color-background-hover: none;
  --ifm-menu-color: #9976ff;
  --ifm-menu-color-active: #fff;
  --ifm-menu-link-padding-vertical: 5px;
  --ifm-menu-padding-vertical: 15px;
  --ifm-menu-link-padding-horizontal: 20px;

  --ifm-link-color: #0055ff;
  --ifm-link-decoration: underline;

  --ifm-toc-border-color: transparent;
  --ifm-toc-link-color: #100060;

  --ifm-footer-padding-vertical: 0.7rem;
  --ifm-footer-background-color: #fff;
  --ifm-footer-link-color: #1d0070;

  --ifm-code-font-size: 1rem;
  --ifm-code-background: #1e016f0a;
  --ifm-list-item-margin: 20px;
  --ifm-pagination-nav-color-hover: transparent;
  --ifm-docs-column-margin-right: 55px;

  --ifm-font-header-button: "extended-regular", "helvetica", sans-serif;
  --ifm-large-container-horizontal-padding: 81px;
  --ifm-large-vertical-padding: 128px;
  --ifm-medium-vertical-padding: 64px;
  --ifm-small-vertical-padding: 32px;
  --ifm-main-title-width: 100%;
  --ifm-main-title-font-size: 80px;
  --ifm-main-title-line-height: 83px;
  --ifm-main-title-align: center;
  --ifm-main-title-padding: 0px;
  --ifm-font-size-subtitle: 46px;
  --ifm-line-height-subtitle: 55px;
  --ifm-navbar--toggle-right: 35px;
  --ifm-markdown-horizontal-padding: 0px;
  --ifm-code-background-color: #1a395b;
  --ifm-toc-width: 233px;

  --ifm-blue-header-padding-top: 163px;
  --ifm-text-container-width: 820px;
  --ifm-navbar-sidebar-width: 100vw;
}

/* Inputs */
input[type="email"] {
  font-family: var(--ifm-font-header-button);
  border-radius: 90px;
  padding: 22px 27px;
  border: none;
}

/* Buttons */
.button--outline {
  font-family: var(--ifm-font-header-button);
  border: 2px solid var(--ifm-button-border-color);
  white-space: break-spaces;
  font-weight: 500;
  font-size: 20px;
  padding: 13px 28px 13px 28px;
  text-transform: capitalize;
  --ifm-button-background-color: #000;
  --ifm-button-color: #fff;
  border-radius: 90px;
}
.button--outline:hover {
  --ifm-button-background-color: #fff;
  --ifm-button-color: var(--ifm-color-primary);
}
.button--secondary {
  background-color: #ffa8de;
  border: 2px solid #ffa8de;
  color: #1d0070 !important;
}
.button--secondary:hover {
  background-color: #fff;
  color: #ffa8de !important;
}
.menu--responsive .menu__button {
  color: #fff;
  bottom: 25px;
}
.msg-alert {
  position: absolute;
}
.pagination-nav {
  padding-top: 10px;
  width: 100%;
}
.pagination-nav__sublabel {
  display: none;
}
.pagination-nav__link,
.pagination-nav__label {
  color: var(--ifm-color-thirty);
  font-weight: normal;
  text-decoration: none;
}

/* General elements */
h1 {
  color: var(--ifm-color-primary-light);
}
h1,
.main--title,
h2,
h3 {
  font-family: var(--ifm-font-header-button);
  font-weight: normal;
}
h2 {
  font-size: 32px;
  line-height: 45px;
}
h3 {
  font-size: 28px;
  line-height: 45px;
  font-family: var(--ifm-font-family-base);
}
td,
th {
  text-align: left;
}
p,
li {
  font-size: 20px;
  font-weight: lighter;
  line-height: 32px;
}
.math {
  font-size: 1rem;
}
ul,
ol {
  padding-bottom: 5px;
}
ul ul,
ol ol {
  padding-bottom: 0px;
}
.main--title {
  font-size: var(--ifm-main-title-font-size);
  line-height: var(--ifm-main-title-line-height);
  padding-top: var(--ifm-large-vertical-padding);
  margin-bottom: var(--ifm-large-vertical-padding);
  text-align: var(--ifm-main-title-align);
  color: var(--ifm-color-primary);
  max-width: var(--ifm-main-title-width);
  padding-left: var(--ifm-main-title-padding);
  padding-right: var(--ifm-main-title-padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}
.main--subtitle {
  font-family: var(--ifm-font-header-button);
  font-size: var(--ifm-font-size-subtitle);
  text-align: var(--ifm-main-title-align);
  line-height: 55px;
  margin-bottom: 20px;
}
.tagline {
  font-family: var(--ifm-font-header-button);
  font-size: 32px;
  line-height: 42px;
  width: 100%;
  text-align: var(--ifm-main-title-align);
  max-width: calc(
    820px + var(--ifm-large-container-horizontal-padding) +
      var(--ifm-large-container-horizontal-padding)
  );
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--ifm-large-vertical-padding);
  padding-left: var(--ifm-large-container-horizontal-padding);
  padding-right: var(--ifm-large-container-horizontal-padding);
}
/* Header */
.navbar {
  background-color: transparent;
  position: relative;
  z-index: 3;
}
.navbar__inner {
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 70px;
}
.navbar__logo {
  max-width: 190px;
  margin-left: 1px;
}
.navbar__title {
  display: none;
}
.navbar__link {
  font-size: 20px;
  font-family: var(--ifm-font-header-button);
}
.navbar__link:last-of-type {
  padding-right: 0;
}
.navbar--home {
  position: absolute;
  --ifm-navbar-link-color: var(--ifm-color-primary-contrast);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-contrast);
}
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
.navbar-sidebar {
  --ifm-menu-color: var(--ifm-color-primary-contrast);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-contrast);
}
/* MDX pages */
.container.margin-vert--lg.padding-vert--lg {
  margin-top: 0px !important;
}

.maxWidthContainer {
  max-width: 760px;
}

/* documentation */
.menu {
  padding: 0 !important;
}
.menu__list {
  padding: var(--ifm-menu-padding-vertical) 0 var(--ifm-menu-padding-vertical) 0;
  border-radius: var(--ifm-button-border-radius);
  background: #1d0070;
  border: none;
}
.menu__list-item {
  font-family: var(--ifm-font-header-button);
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-sidebar__items {
  padding-left: 16px;
  padding-top: 20px;
}
.navbar-sidebar__brand {
  padding-left: 23px;
  padding-top: 50px;
}
.navbar-sidebar__items .menu__list {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
}
.navbar-sidebar__items .menu__list li a {
  font-size: 35px;
  padding-left: 5px;
  line-height: 49px;
}
.navbar-sidebar .close-menu {
  position: absolute;
  right: 20px;
  top: 42px;
}
.menu--responsive .menu__button {
  display: none;
}
.menu__link {
  line-height: 19px;
  font-size: 16px;
  text-decoration: none;
}
.table-of-contents__link:hover,
.menu__link:hover {
  text-decoration: underline;
}
.menu__link--active {
  color: #fff;
}
.table-of-contents__link {
  font-family: var(--ifm-font-header-button);
  color: var(--ifm-color-thirty);
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.table-of-contents li {
  padding: var(--ifm-menu-link-padding-vertical)
    var(--ifm-menu-link-padding-horizontal);
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}
.table-of-contents__link--active {
  color: #000;
}
.markdown {
  padding-left: var(--ifm-markdown-horizontal-padding);
  padding-right: var(--ifm-markdown-horizontal-padding);
}
.markdown > p {
  font-size: 20px !important;
  line-height: 32px;
}
.markdown li p {
  font-size: 20px !important;
  line-height: 32px;
}
.markdown li {
  font-size: 20px !important;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}
.markdown > h2 {
  margin-bottom: 20px;
}
.markdown > h3 {
  margin-top: 20px;
}
.prism-code {
  max-width: 100%;
  overflow: auto;
}
.row .col.col--3 {
  width: var(--ifm-toc-width);
  --ifm-col-width: 233px;
}
.table-of-contents {
  border-left: none;
  padding: var(--ifm-menu-padding-vertical) 0 var(--ifm-menu-padding-vertical) 0;
  border-radius: var(--ifm-button-border-radius);
  background: #f9fafb;
  margin-top: 10px;
  margin-left: 0;
  --ifm-color-primary: var(--ifm-color-primary-dark);
}
.table-of-contents ul {
  border-left: none;
  padding-bottom: 0;
}
.split {
  border-bottom: 2px solid var(--ifm-list-border-color);
  width: 500px;
  display: block;
  margin-bottom: 15px;
}

.info {
  background: var(--ifm-button-background-color);
  padding: 15px 15px 1px 15px;
  border-radius: var(--ifm-global-radius);
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 110px;
  margin-right: 40px;
}
.company-logo {
  margin: 10px;
}

.blue--header {
  height: auto;
  text-align: center;
  background-color: var(--ifm-contrast-background-color);
}
.blue--header .main--title {
  padding-top: var(--ifm-blue-header-padding-top);
  position: relative;
  z-index: 1;
  color: white;
  margin-bottom: var(--ifm-medium-vertical-padding);
}

@media screen and (max-width: 1300px) {
  :root {
    --ifm-main-title-width: 800px;
  }
}
@media screen and (max-width: 1205px) {
  :root {
    --ifm-container-width: 1036.41px;
    --ifm-container-index-width: 1036.41px;
    --ifm-docs-column-margin-right: 20px;
  }
}
@media screen and (max-width: 1045px) {
  :root {
    --ifm-docs-column-margin-right: 0px;
    --ifm-container-width: 900px;
    --ifm-container-index-width: 525px;
  }
  .navbar__toggle {
    position: absolute;
    right: var(--ifm-navbar--toggle-right);
    color: var(--ifm-navbar-link-color);
  }
}
@media screen and (max-width: 999px) {
  :root {
    --ifm-spacing-horizontal: 0.7rem;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --ifm-markdown-horizontal-padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --ifm-container-width: 5000px;
    --ifm-container-index-width: 330px;
    --ifm-large-vertical-padding: 96px;
    --ifm-large-container-horizontal-padding: 35px;
    --ifm-main-title-width: 100%;
    --ifm-main-title-font-size: 45px;
    --ifm-main-title-line-height: 55px;
    --ifm-main-title-align: "left";
    --ifm-main-title-padding: 35px;
    --ifm-navbar--toggle-right: 0px;
    --ifm-font-size-subtitle: 42px;
  }
  .button {
    width: 100%;
  }
  .button--main {
    width: calc(100% - 4rem);
  }
  .navbar__inner {
    padding-left: 0px;
  }
  .button--outline {
    padding: 12px 30px 12px 30px;
  }
  .msg-alert {
    position: absolute;
    left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --ifm-text-container-width: 100%;
    --ifm-large-vertical-padding: 60px;
    --ifm-main-title-font-size: 40px;
    --ifm-main-title-line-height: 47px;
    --ifm-font-size-subtitle: 38px;
    --ifm-line-height-subtitle: 46px;
    --ifm-blue-header-padding-top: 120px;
  }
  .notVisibleOnMobile {
    display: none !important;
  }
}
