/* stylelint-disable docusaurus/copyright-header */
.footer {
  padding: 0;
}
.root {
  border-top: 1px solid #dfe1e4;
  padding-top: 55px;
  color: "#1D0070";
  font-family: var(--ifm-font-header-button);
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: var(--ifm-large-container-horizontal-padding);
  padding-right: var(--ifm-large-container-horizontal-padding);
  margin: 0 auto;
}
.about {
  width: 240px;
  margin-top: 5px;
}
.about p {
  font-size: 11px;
  line-height: 16px;
  color: var(--ifm-color-secondary);
}

.toolbar {
  padding: 0;
}
.links {
  display: flex;
  width: 165px;
  justify-content: space-between;
  align-items: center;
}
.contact {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-left: var(--ifm-large-container-horizontal-padding);
  padding-right: var(--ifm-large-container-horizontal-padding);
  justify-content: space-between;
  border-top: 1px solid #dfe1e4;
}
.contact p {
  color: var(--ifm-color-secondary);
  font-size: 12px;
  margin: 0;
}
.button {
  height: 39px;
  font-size: 16px;
  text-transform: none;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.linksBlock p {
  padding: 0;
  margin: 0;
  color: var(--ifm-color-secondary);
  font-weight: 500;
}
.linksBlock ul {
  padding: 0;
  border-left: none;
}
.linksBlock li {
  list-style: none;
}
.linksBlock a {
  text-decoration: none;
  font-size: 16px;
  color: var(--ifm-footer-link-color);
}
@media screen and (max-width: 1045px) {
  .container,
  .contact {
    max-width: 100%;
    width: 100%;
    padding: 0 50px 0 50px;
  }
  .contact {
    padding: 17px 50px 17px 50px;
  }
}
@media screen and (max-width: 700px) {
  .root {
    padding-top: 63px;
  }
  .container {
    padding-bottom: var(--ifm-medium-vertical-padding);
    flex-direction: column;
    align-items: center;
  }
  .about {
    width: 210px;
  }
  .container,
  .contact {
    max-width: 100%;
    width: 100%;
    padding: 0 50px 0 50px;
  }
  .linksBlock {
    margin: 12px 0 12px 0;
    width: 210px;
  }
  .button {
    margin-bottom: var(--ifm-medium-vertical-padding);
    width: 210px;
  }
  .contact {
    padding: 16px;
    flex-direction: column;
  }
}
